<!DOCTYPE html>
<html>
<head>
    <title>DevOps Platform</title>
    <style>
        body {
            font-family: Arial;
            background: #0f172a;
            color: white;
            text-align: center;
            padding-top: 60px;
        }

        h1 {
            font-size: 42px;
        }

        img {
            width: 220px;
            margin-top: 20px;
        }

        .card {
            background: #1e293b;
            padding: 30px;
            border-radius: 12px;
            display: inline-block;
        }
    </style>
</head>

<body>

<div class="card">
    <h1>🚀 DevOps Platform</h1>

    <img src="/static/devops.png">

    <p><b>Version:</b> {{ version }}</p>
    <p><b>Environment:</b> {{ env }}</p>

    <p>Running on Kubernetes + ArgoCD + CI/CD</p>
</div>

</body>
</html>